<!DOCTYPE html>
<html>
		<head>
			<meta charset="UTF-8">
			<title>Inicio</title>
		</head>
			<body>
				<header>
					<h1><img src="../static/images/logo.png" width="250px" title="Logo de Nutri Vida" alt="logo de Nutri Vida"></h1>
					<nav>
						<ul style="text-align:center;"> 
							<li style= "list-style: none;" >
								<a>Inicio</a> 
								<a>Registrarme</a> 
								<a>Servicios</a> 
							    <a>Recetas</a> 
								<a>Testimonio</a> 
							    <a>Contáctanos</a> 
							</li>
						</ul>
					</nav>					
				</header>
				
					<h2>Nosotros Somos Nutri Vida</h2>
					<br><br>
					<h3>Algunas recetas que puedes usar</h3>
						<p>recetas <p>
						<p>conoce algunos de nuestros planes<p>
						<p>nuestra ubicacion<p>
											
					<h3>Registrate</h3>
					<nav>
						<ul> 
							<li> <a>Inicio de Sesion</a> </li>
							<li> <a>Registrarme</a> </li>
						</ul>
					</nav>	
				
					<article>
							<a target="-black" href="https://www.gmail.com/">Gmail</a>
							<a target="-black" href="https://es-la.facebook.com/">Facebook</a>
							<a target="-black" href="https://www.instagram.com/">Instagram</a>
							<a target="-black" href="https://www.twitter.com/">Twitter</a>
							<a target="-black" href="https://www.whatsapp.com/">Whatsapp</a>
					</article>	
					<br><br><br>
				<footer>
					
					<p>contactanos  tel: 388-4343666 , tel: 388-4056099<p>
					<p>mail: somosnutrivida@gmail.com <p>
					<p style="text-align:center"> &copy; Copyright 2023  Nutri Vida <p>
				</footer>
			</body>
</html>