<!DOCTYPE html>
<html lang="es">
   <head>
     <meta charset="UTF-8">
     <title>Login</title>
   </head>
   <body>
      <header>
    
      </header>
	  <h1>Iniciar sesión</h1>
	  <img src="../static/images/logo.png" width="250px" title="Logo de Nutri Vida" alt="logo de Nutri Vida">
	  <form>
		  <label>Usuario​‎</label>
		  <input class="inputLogin" type="text"><br>
		  <label>Contraseña</label>
		  <input type="password"><br>
		  <input class="inputLogin" type="submit" value="Ingresar">
	  </form> <br>
	
	
	  <footer>
	    
	  </footer>	
   </body>
</html>