<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Registrarse</title>
	</head>
	<body>
		<header></header>		
		<h1>Registrate</h1>
		<img src="../static/images/logo.png" width="250px" title="Logo de Nutri Vida" alt="logo de Nutri Vida"><br>
    	<label>Gmail</label> 
    	<input class="inputLogin" type="email"><br>
		<label>Usuario​‎</label>
		<input class="inputLogin" type="text"><br>
		<label>Contraseña</label>
		<input type="password"><br>
		<label>Objetivos para tu salud</label> <br>
		<textarea rows="2" cols="20" ></textarea><br>
		<input class="inputLogin" type="submit" value="Regitrarse">
		<footer>
	    
	  </footer>	
	</body>
</html>