<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Receta</title>
	</head>
	<body>
		<header>
		</header>
		<h1>Recetas saludables</h1>
		<img width="" alt="logo" src="../static/images/logo.png">
		<p>En esta sección, te damos la bienvenida a un mundo de sabor y bienestar. Aquí encontrarás una exquisita colección de las mejores recetas saludables, 
		cuidadosamente diseñadas para nutrir tu cuerpo y deleitar tu paladar al mismo tiempo. Nuestro compromiso es ofrecerte opciones culinarias que promuevan 
		un estilo de vida equilibrado y te ayuden a alcanzar tus metas de salud y bienestar.
		Te invitamos a explorar esta sección y descubrir una nueva forma de disfrutar de la comida, donde la salud y el sabor se unen en armonía. 
		¡Prepárate para deleitarte con las mejores recetas saludables y descubrir el placer de alimentar tu cuerpo con amor y cuidado!</p>
	
	</body>
</html>