<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Testimonios</title>
	</head>
	<body>
		<header>
		<img src="../static/images/logo.png" width="250px" title="Logo de Nutri Vida" alt="logo de Nutri Vida" style="text-align: center;">
		</header>
		<h1>Foro de testimonios</h1>
		
		<p>¡Bienvenido(a) a nuestro espacio dedicado al cuidado integral de cuerpo, mente y espíritu! Aquí podrás compartir tus 
		experiencias, opiniones y testimonios, en nuestra comunidad, podrás encontrar inspiración, apoyo y recursos relacionados 
		con el cuidado de tu bienestar integral. Valoramos cada testimonio y creemos en el impacto positivo que puede tener en la vida de otros.
		Nuestro propósito es brindarte un entorno seguro y acogedor donde puedas expresarte libremente y compartir tus conocimientos 
		y vivencias en temas de salud y bienestar. Creemos firmemente en la importancia de aprender de las experiencias de los demás y 
		en el poder transformador que tiene compartir nuestras historias.</p>	
		
	</body>
</html>